---
import Hero from '@astrojs/starlight/components/Hero.astro'
import type { Props } from '@astrojs/starlight/props'
---
<div class="position-absolute z-index:2">
<Hero {...Astro.props} />
</div>