---
import Logo from '../assets/alpha-favicon-color.svg'
import Blob from '../components/cards/blobs.astro'
---

<!-- Testimonials Section: Simple -->
<div class="bg-trancperent dark:bg-trancperent">
    <div class="container mx-auto px-4 py-16 lg:px-8 lg:py-32 xl:max-w-7xl">
      <div class="relative">
        <div
          class="absolute right-0 top-0 -mt-5 font-serif text-9xl text-neon-cyan opacity-75 dark:text-neon-cyan/75"
        >
          <Blob image={Logo} alt="AlphaDev Logo">
        </div>
        <div class="relative text-center">
          <div class="mb-3">
            <div
              class="inline-flex items-center rounded-lg border border-amber-200 bg-amber-50 px-2 py-1 text-amber-500 dark:border-amber-900/50 dark:bg-amber-900/25"
            >
              <svg
                class="hi-mini hi-star inline-block size-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                class="hi-mini hi-star inline-block size-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                class="hi-mini hi-star inline-block size-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                class="hi-mini hi-star inline-block size-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                class="hi-mini hi-star inline-block size-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </div>
          <blockquote class="mx-auto lg:w-2/3 xl:w-1/2">
            <p class="mb-5 text-xl text-neon-cyan font-semibold leading-8">
              I’ve been using pixelcave themes for years. The code is consistently
              high-quality and pleasant to work with, so I highly recommended
              them.
            </p>
            <footer class="space-y-4">
              <a
                href="javascript:void(0)"
                class="mx-auto block size-20 overflow-hidden rounded-full border-2 border-gray-50 transition duration-150 ease-out hover:scale-125 hover:border-white hover:shadow-md active:scale-110 active:border-gray-50 active:shadow-sm dark:border-gray-900 dark:shadow-gray-950"
              >
                Its Me :D
              </a>
              <div>
                <a
                  href="javascript:void(0)"
                  class="text-lg font-semibold text-neon-cyan hover:text-emerald-500 dark:text-neon-cyan dark:hover:text-emerald-500"
                >
                  Hrihorii Ilin
                </a>
                <div
                  class="mx-auto my-1 h-1 w-10 rounded-lg bg-blue-100 dark:bg-blue-500/25"
                ></div>
                <p class="font-medium text-gray-500 dark:text-white">
                  Creator.. Sometimes..
                </p>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>