---
// @ts-ignore
import { skills } from '../constants/index'
import Skill from './cards/skill.astro'
---

<div class="mt-16 md:mt-0">
    <div class="mb-1 text-sm font-bold uppercase tracking-wider text-neon-cyan text-center">
        <p>Astro comes batteries included. It takes the best parts of state-of-the-art tools and adds its own innovations.</p>
    </div>
  <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
    Everything you need to start a website
  </h2>
  
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
        skills
          .slice(0, 3)
          .map((skills) => <Skill {...skills} />)
      }
</div>
<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
        skills
          .slice(3, 6)
          .map((skills) => <Skill {...skills} />)
      }
</div>
